<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Base d'entrainement<span class="panel-subtitle">Alimenter la base d'apprentissage d'un reseau de neurone.</span>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-8">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Reseau de neurones</label>
                        <div class="col-sm-9">
                          <select id="form-control-1" class="form-control" [(ngModel)]="network.id" (change)="changeNetwork()" name="idNetwork">
                            <option *ngFor="let net of networks" value="{{net.id}}">{{net.label}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Item d'apprentissage</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-2">Id</label>
                        <div class="col-sm-9">
                          <input id="form-control-2" class="form-control" [(ngModel)]="item.id" name="idItem"  readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-3">Entree ({{nbreNeuronesEntree}})</label>
                        <div class="col-sm-9">
                          <input id="form-control-3" class="form-control" [(ngModel)]="item.input" name="inputItem"  />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-4">Sortie ({{nbreNeuronesSortie}})</label>
                        <div class="col-sm-9">
                          <input id="form-control-4" class="form-control" [(ngModel)]="item.output" name="outputItem" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col pull-right">
                          <button class="btn btn-success" (click)="saveItem()">Enregistrer</button>
                          <button class="btn btn-warning" (click)="clearItemForm()">Annuler</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Base d'apprentissage</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col">
                          <table class="table table-striped">
                            <thead>
                              <th>Id</th>
                              <th>Neurones en entré</th>
                              <th>Neurones en sortie</th>
                              <th>Actions</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of items">
                                <td>{{item.id}}</td>
                                <td>{{item.input}}</td>
                                <td>{{item.output}}</td>
                                <td><button (click)="showItem(network.id, item.id)">Afficher</button> | <button (click)="deleteItem(item.id)">Supprimer</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
