<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-10">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-no-divider">Réseaux de neuronnes<span class="panel-subtitle">Réseaux de neurones en base</span></div>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Label</th>
                    <th>Couches</th>
                    <th>Taux</th>
                    <th>Fonction transfert</th>
                    <th>Type reseau</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor = "let network of networks;">
                    <td>{{network.id}}</td>
                    <td>{{network.label}}</td>
                    <td>{{network.neuronsParCouches}}</td>
                    <td>{{network.tauxApprentissage}}</td>
                    <td>{{network.fonctionTransfert}}</td>
                    <td>{{network.typeReseau}}</td>
                    <td><button (click)="showNetwork(network.id)">Modifier</button> | <button (click)="deleteNetwork(network.id)">Supprimer</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-no-divider">Information reseau<span class="panel-subtitle">Manipulation des réseaux de neurones</span></div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-1">Id</label>
                <div class="col-sm-10">
                  <input id="form-control-1" class="form-control" type="text" [(ngModel)]="network.id" readonly="readonly">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-2">Label</label>
                <div class="col-sm-10">
                  <input id="form-control-2" class="form-control" type="text" [(ngModel)]="network.label">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-3">Couches</label>
                <div class="col-sm-10">
                  <input id="form-control-3" class="form-control" type="text" [(ngModel)]="network.neuronsParCouches">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-4">Taux apprentissage</label>
                <div class="col-sm-10">
                  <input id="form-control-4" class="form-control" type="text" [(ngModel)]="network.tauxApprentissage">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-5">Fonction Transfert</label>
                <div class="col-sm-10">
                  <select id="form-control-5" class="form-control" [(ngModel)]="network.fonctionTransfert">
                    <option value="Sigmoid">Sigmoid</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-2 control-label" for="form-control-6">Type Reseau</label>
                <div class="col-sm-10">
                  <select id="form-control-6" class="form-control" [(ngModel)]="network.typeReseau">
                    <option value="Perceptron">Perceptron</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col pull-right">
                  <button class="btn btn-success" (click)="saveNetwork()">Enregistrer</button>
                  <button class="btn btn-warning" (click)="clearNetworkForm()">Annuler</button>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
